<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
        <div class="ui tab segment active" data-tab="first">

            <p>学号&#12288&#12288&#12288&#12288 {{ student.s_number }}</p>
            <p>姓名&#12288&#12288&#12288&#12288 {{ student.s_name }}</p>
            <p>性别&#12288&#12288&#12288&#12288 {{ student.sex }}</p>
            <p>专业&#12288&#12288&#12288&#12288 {{ student.subject }}</p>
            <p>年级&#12288&#12288&#12288&#12288 {{ student.grade }}</p>

        </div>
</body>
</html>